/* Use a pastel yellow background and a font that is more readable for users with dyslexia. */
body {
  background: #fafac8;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  max-width: 640px;
  margin: 0 auto;
}

/* Make form input and textarea have same font-family and font-size as the body. Add padding around the fields so that characters aren't right up against the field edges. */
input,
textarea,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 0.5em;
}

/* To meet WCAG text spacing guidelines: https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html */
* {
  line-height: 1.5;
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
}
li {
  padding-bottom: 0.5rem;
}

h1,
footer {
  text-align: center;
}
